.main {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgb(255, 255, 255);
}
@media (min-width: 440px) {
  .main {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width: 440px;
    height: calc(var(--vh, 1vh) * 100);
  }
}
