:root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 201, 201);
  --vh: 100%;
}
body {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
